// --- colors ---
$c-blue: #08ACE6;
$c-red: #FB3B64;
$c-green: #55DFB4;
$c-grey: #A5A5A5;
$c-light-grey: #F7F7F7;


// --- fonts ---
$f-raleway: 'Raleway', sans-serif;
$f-open-sans: 'Open Sans', sans-serif;


// --- button ---
$btn-radius: 35px;
