// --- colors ---
$c-blue: #08ACE6;
$c-red: rgb(251, 59, 100);
$c-green: rgb(85, 223, 180);
$c-grey: #A5A5A5;


// --- fonts ---
$f-raleway: 'Raleway', sans-serif;
$f-open-sans: 'Open Sans', sans-serif;


// --- button ---
$btn-radius: 35px;
