@import "../settings/variables";

.banner {
    height: 712px;
    width: 100%;
    margin-top: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.24);

    position: relative;
}
.banner-title {
    color: #000;
    font-family: $f-raleway;
    font-size: 49px;
    font-weight: 400;
    text-align: center;
    line-height: 57px;
    padding: 20px;
}
.banner-text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 22px;
    padding-bottom: 38px;
}
.banner-btn {
    padding: 22px 157px;
    background: $c-blue;
    color: white;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: $btn-radius;
    text-decoration: none;
}
.banner-btn:hover {
    box-shadow: 0 0 15px 10px #07ACE629;
}
.banner-image {
    width: 100%;
    height: 594px;
    margin-bottom: 0;
    flex-grow: 1;

    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.banner-image__img {
    object-fit: cover;
    bottom: 0;
    left: 0;
    right: 0;
}