@import "../settings/mixins";
@import "../settings/variables";

.benefits {
    background-color: $c-light-grey;
    padding: 100px 0;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.24);

    @include tablet {
        padding: 50px 0;
    }

    &__container {
        padding: 0 100px;

        @include tablet {
            padding: 0 15px;
        }
    }
}

.benefits__row {
    //max-width: 1124px;
    //min-height: 370px;
    background-color: white;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    padding: 70px 25px;
    margin: 37px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
        flex-direction: column-reverse;    //!important
        align-items: center;
        padding: 0 20px;       //!important
    }

    &-content {
        max-width: 554px;
        max-height: 230px;
        border-bottom: 4px solid $c-green;
        margin-left: 35px;
    }

    &-title {
        font-family: $f-raleway;
        font-size: 2.25em;
        font-weight: 400;
        margin-bottom: 30px;
        line-height: 2.625em;
    }

    &-description {
        max-width: 416px;
        max-height: 66px;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.375em;
        margin-bottom: 50px;
    }

    &-image {
        position: relative;
    }
    &-img {
        position: relative;
    }
}


// ----- benefits modifier -----//

.benefits__row--macbook {
    padding: 0;
}
.benefits__row--macbook .benefits__row-content {
    border-bottom: 4px solid $c-red;
    margin-right: 169px;
    width: 100%;
    min-height: 188px;
    align-items: center;
}
.benefits__row--macbook .benefits__row-image {
    min-width: 433px;
    min-height: 294px;
    margin-right: 71px;
}
.benefits__row--macbook .benefits__row-img {
    width: 386px;
    height: 219px;
    margin-top: 75px;
    margin-right: 46px
}
.benefits__row--macbook .benefits__row-image::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 230px;
    right: 0;
    bottom: 80px;
    display: block;

    width: 180px;
    height: 180px;
    flex-grow: 0;
    background: $c-red 0% 0% no-repeat padding-box;
    border-radius: 41px;
    transform: rotate(45deg);
}


.benefits__row--iphone {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    margin-bottom: 0;
}
.benefits__row--iphone .benefits__row-content {
    border-bottom: 4px solid $c-blue;
    margin-left: 192px;
}
.benefits__row--iphone .benefits__row-image {}
.benefits__row--iphone .benefits__row-img {
    width: 426px;
    height: 328px;
}
.benefits__row--iphone .benefits__row-image::before {
    content: '';
    position: absolute;
    background: $c-blue 0% 0% no-repeat padding-box;
    border-radius: 50%;
    width: 320px;
    height: 320px;
}

.benefits__row--separate {
    display: flex;
    position: relative;
    margin: 0;

}

.benefits__row--separate__cnt.benefits-row {
    width: 623px;
    height: 370px;
    justify-content: flex-start;
}
.benefits__row--separate .benefits__row--separate__cnt { //.benefits-row__content
    width: 554px;
    height: 230px;
}
.benefits__row--separate .benefits__row-content {
    padding: 0;
    margin: 20px;
}
.benefits__row--separate .benefits__row-title {}
.benefits__row--separate .benefits__row-description {}


.benefits__row--separate-image {
    min-width: 440px;
    min-height: 370px;
    background-color: $c-green;
    padding: 0;
    margin-left: 60px;

    position: absolute;
    right: 0px;
}
.benefits__row--separate-image .benefits__row-img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}
