@import "../settings/mixins";
@import "../settings/variables";

.contact {
    background-color: #fff;

    &__container {
        padding: 80px 100px 100px;
        display: flex;
        justify-content: center;

        @include tablet {
            flex-direction: column;
            align-items: center;
            padding: 50px 15px;
        }
    }

    // --- Info column --- //
    &__info {
        width: 50%;
        justify-content: flex-start;

        @include tablet {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
        }

        &-title {
            font-family: $f-raleway;
            font-size: 3.0625rem;
            line-height: 3.6875rem;
            font-weight: 400;
            padding-bottom: 22px;
            text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.24);
        }

        &-text {
            font-size: 1em;
            font-weight: 400;
            margin: 22px 0 42px;
            text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.24);
        }

        &-address {
            color: $c-grey;
            font-size: 1em;
            font-weight: 600;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            @include mobile {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &-email {
            a { color: $c-grey }

            a:before {
                content: '';
                width: 27px;
                height: 27px;
                background: url("../images/mail-icon.svg") no-repeat;
                background-size: auto;
                padding-left: 30px;
            }
        }

        &-phone {
            a { color: $c-grey }

            @include mobile {
                padding-top: 10px;
            }

            a:before {
                content: '';
                width: 27px;
                height: 27px;
                background: url("../images/phone-icon.svg") no-repeat;
                background-size: auto;
                padding-left: 30px;
                padding-bottom: 10px;
                top: 5px;
                margin-left: 30px;

                @include mobile { margin-left: 0 }
            }
        }
    }

    // --- Form column --- //
    &__form {
        width: 50%;

        @include tablet {
            width: 100%;
            padding: 0 30px;
        }
    }
}
.form {
    &__row {
        &--last {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__label {
        color: $c-blue;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3.28px;
    }

    &__input {
        outline: none;
        width: 100%;
        height: 50px;
        background-color: transparent;
        border-width: 0 0 2px 0;
        border-color: rgba(149, 152, 154, 0.56);
        border-style: solid;
        transition: 0.5s;
        margin-bottom: 30px;
        font-family: $f-open-sans;

        &:focus {
            border-width: 0 0 2px 0;
            border-color: $c-blue;
            border-style: solid;
            box-shadow: 0 1px #07ACE629;
        }
    }

    &__checkbox {
        display: flex;

        &-input {
            flex-shrink: 0;
            margin-right: 10px;
            height: 24px;
            width: 24px;
            border-radius: 4px;
            border: 1px solid $c-blue;

            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:checked {
                background: url("../images/checkmark.svg") no-repeat;
                background-size: contain;
                padding: 6px;
            }
        }

        &-label {
            color: #707070;
            font-size: 12px;
            line-height: 17px;
            cursor: pointer;
        }
    }

    &-btn {
        margin-top: 20px;
        padding: 20px 97px;
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        background-color: $c-blue;
        border: 1px solid $c-blue;
        box-shadow: 5px 10px 14px #07ACE629;
        border-radius: $btn-radius;
        cursor: pointer;
    }
}

