@import "../settings/variables";
@import "../settings/mixins";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $f-open-sans;
}

main {
    background-color: $c-light-grey;
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;

    @include notebook {
        width: 100%;
        padding: 0 15px;
    }
}

