@import "../settings/variables";
@import "../settings/mixins";

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: $f-open-sans;
    overflow-x: hidden;
}

main {
    background-color: $c-light-grey;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: $f-raleway;
}

.container {
    width: 1352px;
    margin: 0 auto;

    @include notebook {
        width: 100%;
        padding: 0 15px;
    }
}

