@import "../settings/mixins";
@import "../settings/variables";

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.24);

    @include notebook { margin: 50px auto }

    &__title {
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 0;
        margin: 0;

        @include notebook { padding-top: 0 }
    }

    &__boxes {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include notebook {
            flex-direction: column;
            width: 100%;
        }
    }

    &__box {
        min-width: 372px;
        border: 1px solid;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;

        @include notebook {
            width: 100%;
            max-width: 370px;
            margin-bottom: 50px;
            padding: 25px 10px 0 10px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__offer {
        margin: 34px 0 50px 0;
        text-align: center;

        @include notebook {
            width: 50%;
            margin: 0;
        }

        &-type {
            font-size: 1.25rem;
            font-weight: 700;
        }

        &-price {
            font-size: 2.875rem;
            font-weight: 300;
            color: var(--accent-color);
            text-shadow: none;
            margin-top: 25px;
        }

        &-limited {
            font-size: 0.75rem;
            font-family: $f-raleway;
            font-weight: 700;
            text-align: center;
            text-shadow: none;
        }
    }

    &__details {
        list-style-type: none;
        text-align: center;
        padding: 0;

        @include notebook {
            width: 50%;
            text-align: left;
        }

        &-btn {
            font-size: 0.8125rem;
            color: #fff;
            text-shadow: none;
            font-weight: 600;
            background-color: var(--accent-color);
            padding: 16px 65px;

            border-radius: 23px;
            position: relative;
            bottom: -25px;
        }
    }

    &__detail {
        font-size: 0.875em;
        margin-bottom: 20px;

        @include notebook {
            &:last-child {
                margin-bottom: 0;
            }
        }

        &::before {
            content: '';
            background: url("../images/checkmark-boxes-green.svg") no-repeat;
            background-size: auto;
            width: 11px;
            height: 11px;
            display: inline-block;
            margin-right: 10px;
        }
        &--notIncluded::before {
            background-image: url("../images/checkmark-boxes-red.svg");
        }
    }


    // ----- modifier (basic, professional, premium boxes) ----- //
    &__box  {
        border: 1px solid var(--accent-color);

        &--basic {
            --accent-color: #{$c-red};

            &:hover {
                box-shadow: 5px 10px 27px rgba(251, 59, 100, 0.16);
            }

            .pricing__offer-price {
                color: $c-red;
                margin-bottom: 30px;

                @include notebook {
                    margin-bottom: 0;
                }
            }
        }

        &--professional {
            --accent-color: #{$c-blue};
            margin: 0 40px;
            box-shadow: 5px 1px 27px rgba(7, 172, 230, 0.16);

            &:hover {
                box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.16)
            }

            .pricing__offer-price {color: $c-blue }
        }

        &--premium {
            --accent-color: #{$c-green};

            @include notebook { margin-top: 50px }

            .pricing__details-btn {
                @include notebook { margin-top: 0 }
            }

            &:hover {
                box-shadow: 5px 10px 27px rgba(85, 223, 180, 0.16);
            }

            .pricing__offer-price {
                color: $c-green;
                margin-bottom: 30px;
            }
        }
    }
}
